
//Variables
$leafii-theme: #3edeaa;

//Import all css files
@import '../imports/ui/components/about/about.scss';
@import '../imports/ui/components/browse/browse.scss';
@import '../imports/ui/components/feedback/feedback.scss';
@import '../imports/ui/components/footer/footer.scss';
@import '../imports/ui/components/forgot/forgot.scss';
@import '../imports/ui/components/header/header.scss';
@import '../imports/ui/components/uploader/uploader.scss';
@import '../imports/ui/components/landing/landing.scss';
@import '../imports/ui/components/profile/profile.scss';
@import '../imports/ui/components/reset/reset.scss';
@import '../imports/ui/components/search/search.scss';
@import '../imports/ui/components/signin/signin.scss';
@import '../imports/ui/components/team/team.scss';
@import '../imports/ui/components/term/term.scss';
@import '../imports/ui/components/welcome/welcome.scss';



.field-wrap {
	margin-bottom: 10px;
}

body {
  font: 14px "Raleway";
}

#header {
  padding: 30px;
  color: #f8f8f8;
  text-align: center;
  background-image: url('/images/values-bg.jpg');
  background-size: cover;
}

.form {
	padding: 30px;
	margin: 50px auto;
	border: solid thin black;
    border-radius: 6px;
    border-color: grey;
    max-width: 60%;
}

@media(max-width: 600px){
	.form {
		border: none;
		max-width: 100%;
	}
}

label {
	color: black !important;
}

.emailMsg {
	max-width: 605px;
	height: 300px;
}

input {
	width: 100%;
}

span.req {
	color: red;
}

#error {
	color: white;
	font-size: 15px;
	background-color: #DC4141;
	height: 40px;
	line-height: 40px;
	margin-bottom: 20px;
	font-weight: bold;
	border-radius: 4px;
	text-align: center;
}


.signUpTag {
	text-decoration: none;
	color: grey;
}

textarea {
	width:100%;
}