.sideMenu {
  position: absolute;
  width: 170px !important; }

.adminCheckBox {
  width: 1%;
  position: relative;
  top: 5px; }

.panel {
  margin-left: 170px;
  padding: 5%;
  border-left: thin solid; }

.users {
  padding: 20px; }

.menu-title {
  padding: 15px;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  border-bottom: thin solid; }
  .menu-title:hover {
    background-color: rgba(0, 0, 0, 0.2); }
  .menu-title.active {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7); }
