<div id="header">
  <title>Our Team - Leafii</title>
  <div class="container">
    <div class="row">
      <h1>Our Team</h1>
    </div>
  </div>
</div>

<div id="teamPage">

	<div class="members" layout="row" layout-xs="column">

		<div class="full-width teamMembers animated slideInLeft" layout="row" layout-md="column" layout-sm="column" layout-xs="column">
			
			<md-card class="md-default-theme" layout="column">
				<img class="profilePic" src="/images/richardsin.png"/>
				<md-card-title>	
					<div class="cardInfo" layout="column">
						<h3 class="md-headline">Richard Sin</h3>
						<p>Full Stack Developer<p>
						<p>Astrophysic Student</p>
						<p>University of Waterloo</p>
					</div>
				</md-card-title>
			</md-card>

			<md-card class="md-default-theme" layout="column">
				<img class="profilePic" src="/images/talentzeng.png"/>
				<md-card-title>
					<div class="cardInfo" layout="column">
						<h3 class="md-headline">Talent Zeng</h3>
						<p>Full Stack Developer<p>
						<p>Mathematical Physic</p>
						<p>University of Waterloo</p>
					</div>
				</md-card-title>
			</md-card>
		</div>

		<div class="full-width teamMembers animated slideInRight" layout="row" layout-md="column" layout-sm="column" layout-xs="column">

			<md-card class="md-default-theme" layout="column">
				<img class="profilePic" src="/images/andrew.jpg"/>
				<md-card-title>
					<div class="cardInfo" layout="column">
						<h3 class="md-headline">Andrew Kuroe</h3>
						<p>Backend Developer<p>
						<p>Physics Student</p>
						<p>University of Waterloo</p>
					</div>
				</md-card-title>
			</md-card>

			<md-card class="md-default-theme" layout="column">
				<img class="profilePic" src="/images/jisung.png"/>
				<md-card-title>
					<div class="cardInfo" layout="column">
						<h3 class="md-headline">Jisung Im</h3>
						<p>Backend Developer<p>
						<p>Physics Student</p>
						<p>University of Waterloo</p>
					</div>
				</md-card-title>
			</md-card>
		</div>
	</div>
</div>