<md-dialog aria-label='Portfolio' class='portfolio'>
 <form ng-cloak>
   <md-toolbar>
     <div class='md-toolbar-tools'>
       <h2>Portfolio</h2>
       <span flex></span>
       <md-button class='md-icon-button' ng-click='cancelDialog()'>
        <i class='zmdi zmdi-close zmdi-hc-lg' aria-label='Close dialog'></i>
       </md-button>
     </div>
    </md-toolbar>
    <md-dialog-content>
     <div class='md-dialog-content'>
       <iframe class='animated fadeIn' ng-src='http://www.theuselessweb.com/'></iframe>
     </div>
    </md-dialog-content>
 </form>
</md-dialog>