//Roast CSS

#roast {
	
	padding-bottom: 50px;
	background: #dcdcdc;

	.submitPost {
		background: white;
		width: 70%;
	}

	.upPost {
		text-align: center;

		i:first-child {
			outline: 0;
			cursor: pointer;

			&:hover {
				color: $leafii-theme;
			}
		}

		p {
			text-align: center;
			margin: 5px 0 10px 0;
		}
	}

	.lightUp {
		outline: 0;
		color: $leafii-theme !important;
	}

	.changeComment {
		margin-left: 50px;
		margin-top: 10px;
		width: 30px;

		.edit {
			cursor: pointer;
			outline: 0;

			&:hover {
				color: $leafii-theme;
			}
		}

		.del {
			
			cursor: pointer;

			&:hover {
				color: $delete;
			}
		}
	}

	.profileIcon {
		height: 40px;
		width: 40px;
	}

	.postComment {
		width: 100%;

		input {
			width: 100%;
			padding: 10px;
		}
	}

	.editPost {
		background: white;
		width: 100%;
		max-width: 100%;
		margin: 0;
	}

	.createPost {
		color: black;
		font-weight: bold;
		background: #ea3354;
	}

	.editIcons {
		text-align: center;

		.edit {
			cursor: pointer;
			outline: 0;

			&:hover {
				color: $leafii-theme;
			}
		}

		@media(max-width:600px){
			.edit {
				margin-bottom: 20px;
			}
		}

		.del {
			
			cursor: pointer;

			&:hover {
				color: $delete;
			}
		}
	}

	.postInfo {

		text-align: left;
		margin: 0 10px 0 10px;

		h2 {
			margin: 0;
		}

		h3 {
			outline: 0;
			width: 60px;
			margin-top: 0;

			&:hover{

				color: $leafii-theme;
				cursor: pointer;
			}

			&:active {
				i {
					transform: rotate(180deg);
				    -ms-transform:rotate(180deg); /* IE 9 */
				    -moz-transform:rotate(180deg); /* Firefox */
				    -webkit-transform:rotate(180deg); /* Safari and Chrome */
				    -o-transform:rotate(180deg); /* Opera */
				}
			}
		}
	}

	.roastCards {
		align-items: center;
		width: 70%;
		padding-top: 30px;

		pre {
			font-family: raleway;
		}

		iframe {
			width: 100%;
			height: 750px;
		}

		md-card {
			
			width: 100%;
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
			align-items: center;
			margin: 0;
			
			md-card-content {
				width: 100%;
			}

		}
	}

	@media(max-width: 600px){
		.roastCards {
			width: 100%;
		}

		.submitPost{
			width: 100%;
		}
	}

	.comments {
		width: 100%;

		.comment {
			padding: 20px;
			border: thin solid #f3f0f0;
			background: #f0f8ff;
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

			b {
				margin-left: 10px;
				white-space: nowrap;
			}

			pre {
				font-family: raleway;
			}

			.commentTime {
				margin-left: 50px;

				p {
					margin: 0;
				}

				i {
					cursor: pointer;
					outline: 0;

					&:hover {
						color: $leafii-theme;
					}
				}

			}

			.cancelEdit {
				cursor: pointer;

				&:hover {
					color: $delete;
				}
			}
		}
		
	}

	.filterBar {
		padding: 10px;
		background: white;
		outline: 0;

		span {
			padding: 10px;
			color: black;
			font-size: 18px;
			font-weight: bold;
			cursor: pointer;

			&:hover {
				color: $leafii-theme;
			}
		}
	}

}

