<div id="SearchResults">

	<title>Search - Leafii</title>
	<div ng-show="!search.websites.length">
		<div class="noResults" layout="row" layout-xs="column" layout-align="center center">
			<h1>No Search Results</h1>
		</div>
	</div>

	<div ng-show="search.websites.length">
		<div layout="row" layout-align="center center" layout-wrap>
			<!-- Horizaontal View Mode -->
			<div class="candidates horizontal" layout="column">
				<md-card class="md-default-theme" layout="row" ng-repeat="user in search.websites">
					<md-card-content layout="row" layout="end center">
						<div class="cardInfoSmall" layout="column">
							<a ng-click="search.viewLog(user)" href="{{search.absolutify(user.profile.url)}}" target="_blank">{{user.profile.occupation ? user.profile.occupation: 'Not specified'}}
								<md-tooltip md-direction="top">{{search.absolutify(user.profile.url)}}</md-tooltip>
							</a>
							<p class="noMargin">{{user.profile.firstName + ' ' + user.profile.lastName}}</p>
							<p class="noMargin"><i class="zmdi zmdi-pin mapColor"></i> {{user.profile.location.formatted_address ? user.profile.location.formatted_address : user.profile.location}}</p>
						</div>
					</md-card-content>
					<div class="info" layout="column" layout-align="center center">
						<p class="forHire" ng-show="{{user.profile.available}}"><i class="zmdi zmdi-circle"></i> Available</p>
						<p class="noHire" ng-show="{{!user.profile.available}}"><i class="zmdi zmdi-circle"></i> Unavailable</p>
					</div>
				</md-card>
			</div>
		</div>
	</div>
</div>



