<div id="SearchResults">

	<title>Search - Leafii</title>

	<div ng-show="search.rootScope.searching">
		<div class="loadingData" layout="row" layout-xs="column" layout-align="center center">
			<h1>Loading Results.....</h1>
			<md-progress-circular md-mode='indeterminate' md-diameter="150px"></md-progress-circular>
		</div>
	</div>



	<div ng-hide="search.rootScope.searching" class="candidates horizontal" layout="column">
		<div class="noResults" ng-hide="search.results.length">
			<div layout="row" layout-xs="column" layout-align="center center">
				<h1>No Search Results</h1>
			</div>
		</div>
		<md-card ng-show="search.results.length" class="md-default-theme" layout="row" ng-repeat="user in search.results | orderBy:'-points'">
			<md-card-content layout="row">
				<div class="cardInfoSmall" layout="column">
					<a ng-click="search.viewLog(user)" href="{{search.absolutify(user.profile.url)}}" target="_blank">{{user.profile.occupation ? user.profile.occupation: 'Not specified'}}
						<md-tooltip md-direction="top">{{search.absolutify(user.profile.url)}}</md-tooltip>
					</a>
					<div layout="row">
						<p>Keywords: &nbsp</p>
						<p ng-repeat="keyword in user.keywords track by $index">{{keyword}} &nbsp</p>
					</div>
					<p class="noMargin">{{user.profile.firstName + ' ' + user.profile.lastName}}</p>
					<p class="noMargin"><i class="zmdi zmdi-pin mapColor"></i> {{user.profile.location.formatted_address ? user.profile.location.formatted_address : user.profile.location}}</p>
					<!-- <p>points: {{user.points}}</p> -->
				</div>
			</md-card-content>
		</md-card>
	</div>
</div>



