#SearchResults{

	padding: 5% 5% 15% 5%;
	background: #dcdcdc;

	.noResults {
		margin: 15%;
		text-align: center;
	}

	span {
		font-size: 20px;
	}

	.fav {
		color: white;
		background: grey;
		cursor: pointer;
		font-size: 30px;

		&:hover {
			color: $leafii-theme;
		}
	}

	.upvoted {
		color: $leafii-theme;
	}
	
	.status {
		padding: 10px;
		width: 100%;
	}

}

