#SearchResults{

	padding: 15% 5%;
	background: #dcdcdc;

	.cardInfoSmall {
		
		width:100%;

		a {
			margin: 0;
			display: table !important;
		}
	}

	.chips {
		overflow-x: auto;
		overflow-y: hidden;
	}

	.keywordTitle {
		margin:0;
		margin-top:10px;
	}

	.name {
		margin:0;
		margin-top: 10px;
	}

	.grid {
		width: 300px;
	}

	.noResults {
		padding: 15%;
	}

	.upLike {
		padding: 30px;
	}

	.horizontal{
		width: 100%;
	}

	span {
		font-size: 20px;
		padding: 10px;
	}

	.fav {
		color: white;
		background: grey;
		cursor: pointer;
		font-size: 30px;

		&:hover {
			color: $leafii-theme;
		}
	}

	.upvoted {
		color: $leafii-theme;
	}
	
	.status {
		padding: 30px;
	}

}

