<div id="SearchResults">
<title>Search - Leafii</title>
	<div ng-show="!search.websites.length">
		<div class="noResults" layout="row" layout-xs="column" layout-align="center center">
			<h1>No Search Results</h1>
		</div>
	</div>

	<div ng-show="search.websites.length" layout="row" layout-align="end center">
		<md-button class="md-raised" ng-click="search.viewMode = 'grid'" aria-label="Grid"><i class="zmdi zmdi-view-module"></i></md-button>
		<md-button class="md-raised" ng-click="search.viewMode = 'line'" aria-label="Horizontal"><i class="zmdi zmdi-menu"></i></md-button>
	</div>

	<div ng-show="search.websites.length">
	
		<!-- Grid View Mode -->
		<div ng-show="search.viewMode == 'grid'" layout="row" layout-xs="column" ng-repeat="usersInPairs in search.usersInFours">
			<div class="candidates" layout="row" layout-sm="column" layout-xs="column" ng-repeat="users in usersInPairs" flex>
				<div class="full-width" layout="row" layout-md="column" layout-sm="column" layout-xs="column">
					<a href="{{search.absolutify(user.profile.url)}}" target="_blank" ng-repeat="user in users">
						<md-card  class="md-default-theme clickable" layout="column">
							<p class="forHire" ng-show="{{user.profile.available}}"><i class="zmdi zmdi-circle"></i> Available</p>
							<p class="noHire" ng-show="{{!user.profile.available}}"><i class="zmdi zmdi-circle"></i> Unavailable</p>
							<img class="profilePic" ng-src="{{user.profile.image ? user.profile.image : 'images/defaultProfilePic.png'}}"/>
							<md-card-title>
								<div class="cardInfo" layout="column">
									<h3 class="md-headline">{{user.profile.occupation ? user.profile.occupation: 'Not specified' | limitTo: 17 }}{{user.profile.occupation.length > 17 ? '...' : ''}}</h3>
									<p>{{user.profile.firstName + ' ' + user.profile.lastName}}</p>
									<p><i class="zmdi zmdi-pin mapColor"></i> {{user.profile.location.formatted_address ? user.profile.location.formatted_address : user.profile.location | limitTo:25}}{{user.profile.location.formatted_address.length > 25 ? '...' : ''}}</p>
									<!-- <md-button class="md-primary md-raised favBtn">Favourite</md-button> -->
								</div>
							</md-card-title>
						</md-card>
					</a>
				</div>
			</div>
		</div>
		
		<!-- Horizaontal View Mode -->
		<div ng-show="search.viewMode == 'line'" class="candidates" layout="column">
			<a href="{{search.absolutify(result.profile.url)}}" target="_blank" ng-init="search.sortUsers(search.websites)" ng-repeat="result in search.websites">
				<md-card class="md-default-theme clickable" layout="row">
					<div class="info" layout="column" layout-align="center center">
						<img class="profilePicSmall" ng-src="{{result.profile.image ? result.profile.image : 'images/defaultProfilePic.png'}}"/>
						<p class="noMargin">{{result.profile.firstName + ' ' + result.profile.lastName}}</p>
						<p class="noMargin"><i class="zmdi zmdi-pin mapColor"></i> {{result.profile.location.formatted_address ? result.profile.location.formatted_address : result.profile.location}}</p>
					</div>
					<md-card-title layout="row" layout="end center">
						<div class="cardInfoSmall" layout="column">
							<h3 class="md-headline noMargin">{{result.profile.occupation ? result.profile.occupation: 'Not specified'}}</h3>
							<p class="forHire" ng-show="{{result.profile.available}}"><i class="zmdi zmdi-circle"></i> Available</p>
							<p class="noHire" ng-show="{{!result.profile.available}}"><i class="zmdi zmdi-circle"></i> Unavailable</p>
							<!-- <md-button class="md-primary md-raised favBtn">Favourite</md-button> -->
						</div>
					</md-card-title>
				</md-card>
			</a>
		</div>
	</div>
</div>



