<div>
	<div class="intro">
		<h1>Leafii Press</h1>
	</div>
	<div ng-if="blog.stateParams.blog_id" layout="row">
		<div class="returnBar">
			<a ui-sref="blog({blog_id:''})">
				<p>Return To Blogs</p>
			</a>
		</div>
		<div class="individualPost"  layout="column" layout-align="center center">
			<h1>{{blog.blog.title}}</h1>
			<p>{{blog.blog.content}}</p>
		</div>
	</div>
	<div ng-if="!blog.stateParams.blog_id" layout="column" layout-align="center center">
		<div class="blogPosts" layout="column" layout-align="center start" ng-repeat="blog in blog.blogs | orderBy:'-createdAt'">
				<div class="blogContents" layout="column">
					<a ui-sref=blog({blog_id:blog._id})>
						<h1>{{blog.title}}</h1>
					</a>
					<h4>Posted:{{blog.createdAt | date:'mediumDate'}}</h4>
					<div class="blogText">
						<p ng-bind-html="blog.content"></p>
					</div>
				<a ui-sref=blog({blog_id:blog._id})>
					<p>Read More </p>
				</a>
				</div>
		</div>
	</div>
</div>