<title>Official blog - Leafii</title>

<div class="intro">
	<h1>Leafii Press</h1>
</div>

<div id="blog" layout="column" layout-align="start center">
	<div flex="50">

		<div ng-hide="blog.blogReady">
			<div class="loadingData" layout="row" layout-xs="column" layout-align="center center">
				<h1>Loading blog.....</h1>
				<md-progress-circular md-mode='indeterminate' md-diameter="150px"></md-progress-circular>
			</div>
		</div>


		<div ng-show="blog.blogReady">

			<a ng-show="blog.stateParams.blog_id" ui-sref="blog({blog_id:''})">
				<p>Return To Blogs</p>
			</a>
			<div ng-hide="blog.blogs">
				<p>No such blog</p>
			</div>
			<div ng-show="blog.blogs" ng-repeat="article in blog.blogs | orderBy:'-createdAt' track by $index" >
				<a ui-sref=blog({blog_id:article._id})><h1>{{article.title}}</h1></a>
				<h4>{{article.author.firstName}} {{article.author. lastName}} || {{article.createdAt | date:'mediumDate'}}</h4>
				<p ng-bind-html="article.content"></p>
				<hr ng-show="$index < blog.blogs.length - 1">
			</div>
		</div>
	</div>
</div>