<div>
	<div class="intro">
		<h1>Leafii Press</h1>
	</div>
	<div ng-if="blog.stateParams.blog_id">
		<p>{{blog.blog.title}}</p>
		<p>{{blog.blog.content}}</p>
	</div>
	<div ng-if="!blog.stateParams.blog_id">
		<div class="blogPosts" layout="column" layout-align="center center" ng-repeat="blog in blog.blogs | orderBy:'-createdAt'">
				<div class="blogContents" layout="column" layout-align="center start">
					<a ui-sref=blog({blog_id:blog._id})>
						<h1>{{blog.title}}</h1>
					</a>
					<h6>Posted:{{blog.createdAt | date:'mediumDate'}}</h6>
					<div class="blogText">
						<p>{{blog.content}}</p>
					</div>
				</div>
				<a ui-sref=blog({blog_id:blog._id})>
					<p>Read More </p>
				</a>
		</div>
	</div>
</div>