.profileSideMenu {
	
	position: absolute;
	width: 170px !important;
}


.verifyBtn {
	background: #ff0000 !important;
	margin-bottom: 50px !important;
}

.parse {
	margin: 0;
	margin-top: 10px;
}

.delChip {
	width: 25px !important;
	height: 25px !important;
	border-radius: 25px !important;
	cursor: pointer;

	&:hover {
		color: $delete !important;
	}
}

.likes {
	margin-left: 30px !important;
}

.profilePanel {
	
	line-height: 30px;
	padding: 60px 0px;
	background: #e8e8e8;

	.marginTop {
		margin-top: 40px;
	}

	.status {
		width: 300px;
		margin-bottom: 20px;

		p {
			margin-left: 30px;
			font-size: 20px;
			font-weight: bold;
		}

		i {
			line-height: 70px;

		}

	}
	
	.grey {
		color: grey;
	}

}

.noTitleMargin {
	
	margin: 0;
	margin-bottom: 10px;
}

.recentPosts {
	padding: 20px;
	margin: 0;
	margin-bottom: 10px;

	p {
		margin: 0;
	}
	
	h2 {
		margin:0;
		margin-bottom: 10px;
	}

}

.profileInfo {
	margin-left: 30px;

	.postTitle {
		display: table;
	}

}

@media(max-width: 960px){
	.profileInfo {
		margin: 0;
		width: 85%;
	}
}

.profileContent {
	width: 75%;

	md-card:first-child {
		width: 85%;
	}

}

.profileImg {

	margin:0;
	margin-bottom: 20px;
	
	img {
		border-radius: 150px;
		height: 200px;
		width: 200px;
	}

	p {
		max-width: 70%;
	}

	.tabBtns {
		margin: 25px;
	}
}

.userProfile {
	padding: 20px;
	background: white;
	box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
	md-input-container {
		width: 100%;
	}

}

.profile-menu-title {
	padding: 15px;
	font-weight: 600;
	cursor: pointer;
	text-transform: uppercase;
	border-bottom: thin solid;

	&:hover {
		background-color: rgba(0,0,0,0.2);
	}

	&.active {
		color: #fff;
		background-color: rgba(0,0,0,0.7);
	}

}

#updated {
	color: black;
	font-size: 15px;
	background-color: $leafii-theme;
	height: 40px;
	line-height: 40px;
	margin-bottom: 20px;
	font-weight: bold;
	border-radius: 4px;
	text-align: center;
}


.md-chip-remove:focus{
	outline:0;
}