
.profileSideMenu {
	
	position: absolute;
	width: 170px !important;
}


.profilePanel {
	//margin-left: 170px;
	//padding: 5%;
	//border-left: thin solid;
	line-height: 30px;
	padding: 60px;

	button {

		margin-top: 20px;

	}

}

.profileImg {

	.upload {
		margin-top: 30px;
	}
	
	img {
		height: 300px;
		width: 300px;
	}
}

.userProfile {
	padding: 20px;

	button {
		margin-top: 20px;
	}
}

.profile-menu-title {
	padding: 15px;
	font-weight: 600;
	cursor: pointer;
	text-transform: uppercase;
	border-bottom: thin solid;

	&:hover {
		background-color: rgba(0,0,0,0.2);
	}

	&.active {
		color: #fff;
		background-color: rgba(0,0,0,0.7);
	}

}

#updated {
	color: black;
	font-size: 15px;
	background-color: $leafii-theme;
	height: 40px;
	line-height: 40px;
	margin-bottom: 20px;
	font-weight: bold;
	border-radius: 4px;
	text-align: center;
}
