<div>
	<div class="card" ng-repeat="user in potato.users">
		<div ng-hide="potato.showing(user)" ng-click="potato.display(user)">
			<p>{{user.profile.firstName}} {{user.profile.lastName}}</p>
		</div>
		<div ng-show="potato.showing(user) && !potato.editing(user)">
			<ul>
				<li>User id: {{user._id}}</li>
				<li>URL: {{user.profile.url}}</li>
				<li>First Name: {{user.profile.firstName}}</li>
				<li>Last Name: {{user.profile.lastName}}</li>
				<li>Email: {{user.emails[0].address}}</li>
				<li>Occupation: {{user.profile.occupation}}</li>
				<li>Available: {{user.profile.available}}</li>
				<li>Page Views: {{user.profile.views}}</li>
				<li>Likes: {{user.profile.likes.length}}</li>
				<button ng-click="potato.close(user)">close</button>
				<button ng-click="potato.edit(user)">edit</button>
			</ul>
		</div>
		<div ng-show="potato.editing(user)">
			<ul>
				<li>User id: {{user._id}}</li>
				<li>
					<label>URL: </label>
					<input type="text" ng-model="user.profile.url"/>
				</li>
				<li>
					<label>First Name: </label>
					<input type="text" ng-model="user.profile.firstName"/>
				</li>
				<li>
					<label>Last Name: </label>
					<input type="text" ng-model="user.profile.lastName"/>
				</li>
				<li>
					<label>Email: </label>
					<input type="email" ng-model="user.emails[0].address"/>
				</li>
				<li>
					<label>Occupation: </label>
					<input type="text" ng-model="user.profile.occupation"/>
				</li>
				<li>
					<label>Available: </label>
					<input type="text" ng-model="user.profile.available"/>
				</li>
				<li>Page Views: {{user.profile.views}}</li>
				<li>Likes: {{user.profile.likes.length}}</li>
				<button ng-click="potato.delete(user)">delete</button>
				<button ng-click="potato.cancel(user)">cancel</button>
				<button ng-click="potato.close(user)">close</button>
				<button ng-click="potato.save(user)">save</button>
			</ul>
		</div>
	</div>
</div>