<div id="header">
  <div class="container">
    <div class="row">
      <h1>Password Confirmation</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="form animated fadeIn">
    <form ng-submit="changepassword.updatePass()">

      <div class="field-wrap">
        <label>Password:<span class="req">*</span></label>
        <input ng-model="changepassword.password" type="password"/>
      </div>

      <div class="field-wrap">
        <label>Confirm Password:<span class="req">*</span></label>
        <input ng-model="changepassword.confirm" type="password"/>
      </div>

      <input type="submit" value="Submit"/>
      
    </form>
  </div>
</div>