<div id="changePassword">
  <title>Change Password - Leafii</title>
  <div id="header">
    <div class="container">
      <div class="row">
        <h1>Password Confirmation</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="form animated fadeIn">
      <form ng-submit="changepassword.updatePass()">

        <div class="field-wrap">
          <label>Password:<span class="req">*</span></label>
          <input ng-model="changepassword.password" type="password" required="required"/>
        </div>

        <div class="field-wrap">
          <label>Confirm Password:<span class="req">*</span></label>
          <input ng-model="changepassword.confirm" type="password" required="required"/>
        </div>

        <div class="field-wrap" layout="column" layout-align="center center">
          <input ng-show="!changepassword.wait" type="submit" value="Update"/>
        <md-progress-circular ng-show="changepassword.wait" md-mode='indeterminate' md-diameter="40px"></md-progress-circular>
        
      </form>
    </div>
  </div>
</div>