<div id="header">
  <title>Feedback - Leafii</title>
    <h1>Feedback</h1>
  </div>
</div>

<div class="form animated fadeIn">
  <form ng-submit="feedback.subFeedback(email, comment)">

      <md-input-container class="md-block" flex-gt-sm>
        <label>Email (Optional)</label>
        <input required ng-model="email" type="email" name="email"/>
      </md-input-container>

      <textarea ng-model="comment" type="text" placeholder="Need more features"></textarea>
      
      <div class="feedbackBtn" layout="column" layout-align="center center">
        <md-button class="md-raised md-primary full-width" ng-show="!feedback.wait" type="submit">Submit</md-button>
        <md-progress-circular ng-show="feedback.wait" md-mode='indeterminate' md-diameter="40px"></md-progress-circular>
      </div>
    </div>
  </form>
</div>
