<div id="header">
  <div class="container">
    <div class="row">
      <h1>Feedback</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="form animated fadeIn">
    <form ng-submit="">
      <div class="field-wrap">
        <label>Name</label>
        <input name="name" type="text" placeholder="Bobby"/>
      </div>
      <div class="field-wrap">
        <label>Email Address<span class="req">*</span></label>
        <input name="email" type="email" placeholder="example@xyz.com" required="required"/>
        <div class="field-wrap">
          <label>Feedback</label>
          <textarea name="feedback" type="text" placeholder="Need more features"></textarea>
        </div>
        <div class="field-wrap">
          <input type="submit" value="Submit"/>
        </div>
      </div>
    </form>
  </div>
</div>