<md-dialog aria-label="Navigation" id="Menu" flex="80">
	<form ng-cloak flex>
		<md-toolbar>
   			<div class="md-toolbar-tools" flex>
       			<h2 class="menuLink">Menu</h2>
       			<span flex></span>
       			<md-button class="md-icon-button toolbarButtoon" ng-click="cancel()">
        			<i class="zmdi zmdi-close zmdi-hc-lg" aria-label="Close dialog"></i>
       			</md-button>
     		</div>
    	</md-toolbar>
    	<md-dialog-content layout="column" layout-align="start center" flex>
     		<div layout="column" class="nav">
          <md-button ui-sref="signup" ng-click="hide()" class="md-raised signup btn" ng-hide="rootScope.currentUser">Submit my website</md-button>
          <md-button ui-sref="signin" ng-click="hide()" class="md-raised btn" ng-hide="rootScope.currentUser">Sign in</md-button>
          <md-button ui-sref="profile" ng-click="hide()" class="md-raised btn" ng-show="rootScope.currentUser">Profile</md-button>
          <md-button ng-click="logout(); hide()" class="md-raised signout btn" ng-show="rootScope.currentUser">Sign out</md-button>
     		</div>
    	</md-dialog-content>
 	</form>
</md-dialog>
