.logo {
	height: 100%;
	padding: 5px;
}

.logo-link {
	height: 100%;
}

.header {
	border-bottom: thin solid #d3d3d3;
	position: absolute;
	background: white !important;
}

.pages{
	
	a {
		margin: 10px;
		font-size: 15px;
		cursor: pointer;
		font-weight: bold;
		color: black;
		
		&:hover {
			color: #069e7e;
		}
	}

}
