.logo {
	height: 100%;
	padding: 5px;
}

// .search-top-icon {
// 	padding: 8px;
// 	color: white;
// 	cursor: pointer;
// 	background: rgba(62,222,170, 0.8);

// 	&:hover {
// 		background: rgba(62,222,170, 1);
// 	}
// }

.search-top-field {
	
	width: 30%;
	color: black;

	input {
		padding: 5px;
		font-size: 17px;
		font-family: raleway;
	}

	
}

.logo-link {
	height: 100%;
}

.header {
	border-bottom: thin solid #d3d3d3;
	position: absolute;
	background: white !important;
}

.pages{
	
	a {
		margin: 10px;
		font-size: 15px;
		cursor: pointer;
		font-weight: bold;
		color: black;
		
		&:hover {
			color: #069e7e;
		}
	}

}
