.logo {
	height: 100%;
	padding: 5px;
}

.search-icon {
	padding: 0 15px 0 15px;
	color: white;
}

.search-field {
	background: $leafii-theme;
	width: 30%;
	color: black;

	input {
		padding: 5px;
		font-size: 18px;
		font-family: raleway;
	}

}

.logo-link {
	height: 100%;
}

.header {
	border-bottom: thin solid #d3d3d3;
	position: absolute;
	background: #dcdcdc !important;
}

.pages{
	
	a {
		margin: 10px;
		font-size: 15px;
		cursor: pointer;
		font-weight: bold;
		color: black;
		
		&:hover {
			color: #069e7e;
		}
	}

}
