<div class="content" layout="column">
	<md-toolbar>
		<div class="header md-toolbar-tools">
			<a class="logo" href="/"><img class="logo" src="/images/leafii.svg"/></a>
			<div layout="row" layout-align="center center" class="search-field">
		        <input placeholder="Search" class="search-top">
		        <i class="zmdi zmdi-search zmdi-hc-1x search-icon"></i>
		    </div>
			<span flex></span>
			<div class="pages">
				<a ng-hide="header.rootScope.currentUser" href="/signin">Login</a>
				<a ng-hide="header.rootScope.currentUser" href="/signup">Sign Up</a>
				<a ng-show="header.rootScope.currentUser" href="/userprofile">Settings</a>
				<a ng-show="header.rootScope.currentUser" ng-click="header.logout()">Logout</a>
			</div>
		</div>
	</md-toolbar>
</div>