<div id="toolbar" layout="column" layout-align="start center">
	<md-toolbar class="top">
		<div class="header md-toolbar-tools">
			<a class="logo clickable" ng-click="header.gohome()"><img class="logo" src="/images/leafii.svg" alt="Leafii"/></a>
			<div layout="row" layout-align="start center" class="search-top-field">
				<form layout="row" ng-submit="header.search()">
			    	<input id="searchbar" placeholder="Search" class="search-top" ng-model="header.rootScope.query">
				</form>
				<i class="zmdi zmdi-search zmdi-hc-lg searchBtn" ng-click="header.search()"></i>
			</div>

			<span flex></span>
			<div class="pages" layout="row">
				<md-button ui-sref="signup" class="md-raised signup btn" ng-hide="header.rootScope.currentUser" >Submit my website</md-button>
				<md-button ui-sref="posts" class="md-raised posts btn">Roasts</md-button>
				<md-button ui-sref="signin" class="md-raised btn" ng-hide="header.rootScope.currentUser">Sign in</md-button>
				<md-button ui-sref="profile" class="md-raised btn" ng-show="header.rootScope.currentUser">Profile</md-button>
				<md-button ng-click="header.logout()" class="md-raised signout btn" ng-show="header.rootScope.currentUser">Sign out</md-button>
			</div>

			<!-- Menu for Mobile -->
			<div class="hamburger" layout="row">
				<md-button class="md-raised md-primary burger"><i class="zmdi zmdi-menu"></i></md-button>
			</div>

		</div>
	</md-toolbar>
</div>