<div id="header">
  <title>About - Leafii</title>
  <h1>About Us</h1>
</div>

<div id="about">

	<div layout="column" layout-align="center center">

		<div class="context" layout="row" layout-md="column" layout-sm="column" layout-xs="column">

			<div class="story" layout="column" layout-align="center center">

				<h1>Our Story</h1>
				<hr>

				<img src="/images/team.jpg"/>

				<p>
					As passionate students, we like to stand out among our peers. So we created
					our own personal websites to showcase our projects, skills, passion and hobbies.
					However, employers can't find our amazing websites if they don't know our urls.
				</p>
				<p>
					You can always Google our names, but the first page of Google is clouded
					with other popular websites such as LinkedIn, Twitter & Facebook; our websites are
					pushed down at the very bottom of Google. As a result, we created
					Leafii, a platform to specifically search for online portfolios.
				</p>

				<p>Leafii is a platform that makes online portfolios searchable.
				   Simply submit your website and we will make all the content on your website
				   searchable. No need to fill out templates. We do all the work for you.
				</p>
				<p>
					When a website is submitted on our platform, our platform will parse all the
					keywords on your website. This way, not only people can find you base on your
					url but also base on the content on your website.
				</p>

			</div>
		</div>

		<div layout="row" layout-md="column" layout-sm="column" layout-xs="column" layout-align="space-around center" class="companyLogos">
			<img src="/images/communitech_logo.png" alt="Communitech"/>
			<img src="/images/velocity_logo.jpg" alt="Velocity"/>
			<img src="/images/waterloo_logo.png" alt="Waterloo"/>
			<img src="/images/conrad.png" alt="Conrad"/>
		</div>
		
	</div>
	
</div>

<!-- <div id="header">
  <title>Our Team - Leafii</title>
  <h1>Our Team</h1>
</div> -->

<div id="teamPage" layout="column" layout-align="center center">

	<h1>Team Members</h1>
	<hr>

	<div class="members" layout="row" layout-xs="column">

		<div class="full-width teamMembers animated slideInLeft" layout="row" layout-sm="column" layout-xs="column" layout-align="space-around center">
			
			<div class="md-default-theme" layout="column">
				<img class="profilePic" src="/images/richardsin.png"/>
				<div class="cardInfo" layout="column">
					<h3 class="md-headline">Richard Sin</h3>
					<p>Full Stack Developer</p>
					<p>Astrophysic Student</p>
					<p>University of Waterloo</p>
				</div>
			</div>

			<div class="md-default-theme" layout="column">
				<img class="profilePic" src="/images/talentzeng.png"/>
				<div class="cardInfo" layout="column">
					<h3 class="md-headline">Talent Zeng</h3>
					<p>Front End Developer</p>
					<p>Mathematical Physics</p>
					<p>University of Waterloo</p>
				</div>
			</div>
		</div>

		<div class="full-width teamMembers animated slideInRight" layout="row" layout-sm="column" layout-xs="column" layout-align="space-around center">

			<div class="md-default-theme" layout="column">
				<img class="profilePic" src="/images/andrew.jpg"/>
				<div class="cardInfo" layout="column">
					<h3 class="md-headline">Andrew Kuroe</h3>
					<p>Web Parser and Algorithm</p>
					<p>Physics Student</p>
					<p>University of Waterloo</p>
				</div>
			</div>

			<div class="md-default-theme" layout="column">
				<img class="profilePic" src="/images/jisung.png"/>
				<div class="cardInfo" layout="column">
					<h3 class="md-headline">Jisung Im</h3>
					<p>Web Crawler and Algorithm</p>
					<p>Physics Student</p>
					<p>University of Waterloo</p>
				</div>
			</div>
		</div>
	</div>

	<h1>Interns - Coops</h1>
	<hr>

	<div class="full-width teamMembers animated slideInRight" layout="row" layout-xs="column" layout-align="space-around center">

		<div class="md-default-theme" layout="column">
			<img class="profilePic" src="/images/abishek.jpg"/>
			<div class="cardInfo" layout="column">
				<h3 class="md-headline">Abhishek Mukherjee</h3>
				<p>Research and SEO</p>
				<p>Nanotechnology Engineering</p>
				<p>University of Waterloo</p>
			</div>
		</div>

		<div class="md-default-theme" layout="column">
			<img class="profilePic" src="/images/yongli.jpg"/>
			<div class="cardInfo" layout="column">
				<h3 class="md-headline">Yongli Jiang</h3>
				<p>Full Stack Developer</p>
				<p>Computer Science</p>
				<p>University of Waterloo</p>
			</div>
		</div>

		<div class="md-default-theme" layout="column">
			<img class="profilePic" src="/images/kriztian.jpg"/>
			<div class="cardInfo" layout="column">
				<h3 class="md-headline">Krisztian Palvolgyi</h3>
				<p>Backend Developer</p>
				<p>Software Engineer</p>
				<p>University of Waterloo</p>
			</div>
		</div>	
	</div>
</div>