#about {
	background: #dcdcdc;

	.context {
		font-family: raleway;
		margin: 30px;
		width: 70%;

		h2 {
			font-weight: bold;
		}

		p {
			font-size: 16px;
		}
	}

	.companyLogos {
		padding-bottom: 30px;
		width: 85%;
	}

	@media (max-width: 1280px){
		.companyLogos {
			width: 80%;
		}
	}

	.story {
		background: white;
		padding: 5%;

		hr {
			width: 250px;
		    height: 1px;
		    background: #333;
		    background-image: linear-gradient(to right, #ccc, #333, #ccc);
		}
	}


}


#teamPage {

	padding: 0 5% 5% 5%;
	background: #dcdcdc;
	
	.marginTop {
		margin-top: 50px;
	}

	hr {
		width: 250px;
	    height: 1px;
	    background: #333;
	    margin-bottom: 65px;
	    background-image: linear-gradient(to right, #ccc, #333, #ccc);
	}

	.team {
		width: 80%;
		padding: 30px;
		background: white;

		h1:nth-child(2){
			margin-top: 65px;
		}
	}


	.teamInfo {
		text-align: center;
		align-items: center;

		p {
			margin: 10px;
		}

	}

	.teamTitle {
		font-family: raleway;
		font-weight: bold;
	}

	.members {
		align-items: center;
		width: 100%;
	}

	.teamMembers {
		align-items: center;
		width: 100%;

		div {
			align-items: center;
			padding: 10px;
		}

		img {
			object-fit: cover;
		}

		md-card {
			
			width: 100%;
			align-items: center;
			margin: 10px;
			padding: 30px;
		}

	}
}