#about {
	background: #dcdcdc;

	.context {
		font-family: raleway;
		margin: 30px;

		h2 {
			font-weight: bold;
		}

		p {
			font-size: 16px;
		}
	}

	.companyLogos {
		padding-bottom: 30px;
		width: 85%;
	}

	@media (max-width: 1280px){
		.companyLogos {
			width: 80%;
		}
	}

	.story {
		background: white;
		padding: 5%;

		hr {
			width: 250px;
		    height: 1px;
		    background: #333;
		    background-image: linear-gradient(to right, #ccc, #333, #ccc);
		}
	}


}


#teamPage {

	padding: 0 5% 5% 5%;
	background: white;

	hr {
		width: 250px;
	    height: 1px;
	    background: #333;
	    background-image: linear-gradient(to right, #ccc, #333, #ccc);
	}

	.teamTitle {
		font-family: raleway;
		font-weight: bold;
	}

	p {
		line-height: 0px;
	}

	.members {
		align-items: center;
		width: 100%;
	}

	@media (max-width: 1279px){
		.teamMembers:nth-child(2){
			margin: 0 0 0 20px;
		}
	}

	@media (max-width: 599px){
		.teamMembers:nth-child(2){
			margin: 0;
		}
	}


	.teamMembers {
		align-items: center;

		img {
			object-fit: cover;
		}

		md-card {
			
			width: 100%;
			align-items: center;
			margin: 10px;
			padding: 30px;
		}

	}
}