#about {
	padding: 5%;
	background: #dcdcdc;

	.context {
		font-family: raleway;
		margin: 30px;

		h2 {
			font-weight: bold;
		}

		p {
			margin-right: 40px;
		}
	}

}

@media(max-width: 1280px){
	.context {
		p {
			margin-right:0;
		}
	}
}