<div id="header">
	<div class="container">
		<div class="row">
			<h1>System Admin</h1>
		</div>
	</div>
</div>

<div class="sideMenu">
	<nav class="menu-title">DashBoard</nav>
	<nav class="menu-title">User Information</nav>
</div>

<div class="panel">
	<div class="row users">
		<form action="/users/#{user.id}" method="post">
			<h3>User ID:</h3>
			<label>Name:</label>
			<input type="text" name="firstName" value=""/>
			<input type="text" name="lastName" value=""/>

			<label>Email:</label>
			<input type="text" name="email" value=""/>
			
			<label>Password:</label>
			<input type="text" name="password" value=""/>

			<label>Portfolio URL:</label>
			<input type="text" name="url" value=""/>
			<input type="hidden" name="id" value=""/>

			<label>Location:</label>
			<input type="text" name="location" value=""/>

			<label>Keywords:</label>
			<textarea type="text" name="keywords" value=""></textarea>

			<label>Joined: Time</label>
			<label>Last Modified: Time</label>
			
			<div class="adminBox">
				<label>Admin?:</label>
				<input class="adminCheckBox" type="checkbox" name="admin" checked=""/>		
			</div>

			<input type="submit" name="Update">
			<input value="delete"/>

		</form>
	</div>
</div>