<div id="header">
  <div class="container">
    <div class="row">
      <h1>Email to Users</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="form animated fadeIn">
    <form method="post" action="/contact/send">

      <div class="field-wrap">
        <label>Subject</label>
        <input name="Subject" type="text" placeholder="New feature added"/>
      </div>

      <div class="field-wrap">
        <label>Message</label>
        <textarea name="Message" type="text" placeholder="New Update to Leafii" class="emailMsg"></textarea>
      </div>

      <input type="submit" value="Submit"/>
      
    </form>
  </div>
</div>