<div id="landing">
	<div class="intro">
		<img src="/images/leafii.svg" class="animated bounceInDown"/>
		<h5 class="animated fadeIn">Online Portfolio Search Engine</h5>
		<h4>Search and find the best designers & engineers</h4>
		<h4>Browse through our job postings or submit your online portfolio</h4>

		<div layout="column" layout-align="center center" class="animated fadeInUp">
			<md-button class="md-raised submitPort">Submit an Online Profile</md-button>
			<md-button class="md-raised postJob">Post A Job</md-button>
		</div>
	</div>

	<div class="footer">

	</div>

</div>

