<div id="landing">
	<div class="intro">
		<img src="/images/leafii.svg" class="animated bounceInDown"/>
		<h5 class="animated fadeIn">Online Portfolio Search Engine</h5>
		<h4>The job board that helps designers and engineers to find jobs using their online portfolios</h4>
		<h4>Looking for hire? Browse through our list of amazing registered users</h4>

		<div layout="column" layout-align="center center" class="animated fadeInUp">
			<md-button class="md-raised submitPort">Submit an Online Profile</md-button>
			<md-button class="md-raised postJob">Post A Job</md-button>
		</div>
	</div>

</div>

