<div id="landing">
	<div class="intro">
		<img src="/images/leafii.svg" class="animated bounceInDown"/>
		<h5 class="animated fadeIn">Online Portfolio Search Engine</h5>
		<h4>Search and find the best designers & engineers</h4>
		<h4>Browse through our job postings or submit your online portfolio</h4>

		<div layout="column" layout-align="center center" class="animated fadeInUp">
			<a href="/signup"><md-button  class="md-raised submitPort">Submit an Online Profile</md-button></a>
			<!-- <a href="/signin"><md-button class="md-raised postJob">Post A Job</md-button></a> -->
		</div>
	</div>
	
	<div class="board" layout="column">

		<h1 class="featuredCan">Featured Engineers</h1>

		<div class="candidates" layout="row" layout-sm="column" layout-xs="column">
			<md-card class="md-default-theme" layout="row" layout-md="column" layout-sm="column" layout-xs="column">
				<img class="profilePic md-card-image" src="/images/values-bg.jpg" alt="placeholder">
				<md-card-title>
					<div class="cardInfo" layout="column">
						<h3 class="md-headline">Richard Sin</h3>
						<span>Software Engineer</span>
						<span>Location: Waterloo</span>
						<md-button style="width:50%" class="md-primary md-raised">Favourite</md-button>
					</div>
				</md-card-title>
			</md-card>
			<md-card class="md-default-theme" layout="row">
				<img class="profilePic md-card-image" src="/images/values-bg.jpg" alt="placeholder">
				<md-card-title>
					<div class="cardInfo" layout="column">
						<h3 class="md-headline">Richard Sin</h3>
						<span>Software Engineer</span>
						<span>Location: Waterloo</span>
					</div>
				</md-card-title>
			</md-card>
		</div>

		<div class="candidates" layout="row">
			<md-card class="md-default-theme" layout="row">
				<img class="profilePic md-card-image" src="/images/values-bg.jpg" alt="placeholder">
				<md-card-title>
					<div class="cardInfo" layout="column">
						<h3 class="md-headline">Richard Sin</h3>
						<span>Software Engineer</span>
						<span>Location: Waterloo</span>
					</div>
				</md-card-title>
			</md-card>
		</div>
	</div>

</div>

