template(name="landingPage")
	#landing
		div(class="container")
			.row
				img(src="/images/leafii.svg" class="animated bounceInDown") 
				h5(class="animated fadeIn") Online Portfolio Search Engine

		div(class="container animated fadeInUp")
			.row
				a(href="/auth/signup" class="signUpbtn")
					button Browse

