<div id="header">
  <div class="container">
    <div class="row">
      <h1>Submit your online portfolio</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="form animated fadeIn">
    <form action="/auth/signup" method="post">
      <div class="field-wrap">
        <label>First Name<span class="req">*</span></label>
        <input type="text" name="firstName" placeholder="Bobby" required="required"/>
      </div>
      <div class="field-wrap">
        <label>Last Name<span class="req">*</span></label>
        <input type="text" name="lastName" placeholder="Lee" required="required"/>
      </div>
      <div class="field-wrap">
        <label>City<span class="req">*</span></label>
        <input type="text" name="location" placeholder="Waterloo" required="required"/>
      </div>
      <div class="field-wrap">
        <label>Email Address<span class="req">*</span></label>
        <input type="email" name="email" placeholder="example@uwaterloo.ca" required="required"/>
      </div>
      <div class="field-wrap">
        <label>Password<span class="req">*</span></label>
        <input type="password" name="password" placeholder="password" required="required"/>
      </div>
      <div class="field-wrap">
        <label>Confirm password<span class="req">*</span></label>
        <input type="password" name="confirm" placeholder="confirm" required="required"/>
      </div>
      <div class="field-wrap">
        <label>Portfolio URL<span class="req">*</span></label>
        <input type="text" name="url" placeholder="www.myportfolio.com" required="required"/>
      </div>
      <div class="field-wrap">
        <input type="submit" value="Submit"/>
      </div>
    </form>
  </div>
</div>