//Footer css

#footer {

	padding: 30px;
	color: white;
	background: #27272b;

	.footer-content {
		margin: 0 10% 0 10%;
	}

	@media(max-width: 600px){
		.footer-content {
			text-align: center;
		}
	}

	ul {
		list-style-type: none;
		padding: 0;

		li {
			line-height: 2em;
		}
	}
	
	a {
		color: white;
		text-decoration: none;
		cursor: pointer;

		&:hover {
			color: $leafii-theme;
		}

	}

}

#lowestFooter {
	background: white;
	color: black;
	padding: 30px;
	overflow:hidden;
	text-align: center;

	ul {
		list-style-type: none;
		padding: 0;

		li {
			line-height: 2em;
		}
	}
	
	a {
		color: white;
		text-decoration: none;
		cursor: pointer;

		&:hover {
			color: $leafii-theme;
		}

	}
}
