//Footer css

#footer {
	
	background: #27272b;
	padding: 30px;
	color: white;

	.footer-content {
		margin: 0 2% 0 2%;
	}

	@media(max-width: 600px){
		.footer-content {
			text-align: center;
		}
	}

	ul {
		list-style-type: none;
	}
	
	a {
		color: white;
		text-decoration: none;
		cursor: pointer;

		&:hover {
			color: $leafii-theme;
		}

	}

}
