<div id="footer" layout="column" layout-align="center center">
	<div class="footer-content" layout="row" layout-sm="column" layout-xs="column" layout-align="space-between center">

		<div class="contact" layout="column" layout-align-sm="center center" layout-align-xs="center center">
			<a href="mailto:support@leafii.com"><i class="zmdi zmdi-email zmdi-hc-2x"></i> support@leafii.com</a>
			<!-- <a href="/feedback"><i class="zmdi zmdi-collection-text zmdi-hc-2x"></i> Feedback</a> -->
		</div>

		<p>Leafii, Waterloo, ON &copy 2016</p>
		
		<div class="media" layout="row">
			<p>Follow us on: </p>
			<a href="https://www.facebook.com/getleafii/?fref=ts" target="_blank"><i class="zmdi zmdi-facebook-box zmdi-hc-2x"></i></a>
			<a href="https://www.instagram.com/getleafii/?hl=en" target="_blank"><i class="zmdi zmdi-instagram zmdi-hc-2x"></i></a>
		</div>

	</div>
	
</div>