#welcome {
	background-image: url("../images/values-bg.jpg");
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;


	.note {
		text-align: center;
		color: white;
	}

}
