<div layout="column">
  <div ngf-drop
    ngf-select
    ngf-change="image.addImages($files)"
    ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
    class="button upload"
    ngf-multiple="false"
    ngf-allow-dir="false"
    ngf-accept="'image/*'"
    ngf-drop-available="false"
    ng-hide="image.cropImgSrc; image.editing">
    <div>Upload image</div>
  </div>
  <div ng-show="image.cropImgSrc" layout="column" class="ng-crop">
    <div>
      <h3 layout="row" layout-align="center center">Edit &amp; crop</h3>
    </div>
    <div class="ng-crop-container">
      <img-crop image="image.cropImgSrc" result-image="image.myCroppedImage" area-type="square"></img-crop>
    </div>
    <div layout="row" layout-align="space-around center">
      <button ng-click="image.reset()">
        Cancel
      </button>
      <button ng-click="image.save()" class="button-primary">
        Save Image
      </button>
    </div>
  </div>
</div>