<div id="blogPosts">

	<div layout="column" layout-align="center center">

		<div class="blogs"> 
			<md-card ng-show="press.posting">
				<form ng-submit="press.publish(press.blog)">
					<div layout="column">
						<md-input-container>
							<label>Title</label>
							<input type="text" ng-model="press.blog.title"/>
						</md-input-container>			
					
						<text-angular ng-model="press.blog.content"></text-angular>

					</div>

					<div layout="row" layout-align="end end">
						<md-button class="md-raised save" type="submit">Save</md-button>
						<md-button class="md-raised" ng-click="press.cancel()">cancel</md-button>
					</div>

				</form>
			</md-card>

			<div ng-hide="press.posting">
				<div layout="row" layout-align="space-between center">
					<h2>List of blogs</h2>
					<md-button class="md-raised noMargin" ng-click="press.new()">new</md-button>
				</div>
				<h1 ng-hide="press.blogs.length">no blogs to show yet!</h1>
				<div class="postings" layout="column" ng-repeat="blog in press.blogs | orderBy:'-createdAt'">
					<h2>{{blog.title}}</h2>
					<p class="content" ng-bind-html="press.safeHtml(blog.content)"></p>
					<h5>Posted:{{ blog.createdAt | date:'mediumDate'}}</h5>
					<div layout="row" layout-align="end end">
						<md-button class="md-raised del" ng-click="press.delete(blog)">delete</md-button>
						<md-button class="md-raised" ng-click="press.edit(blog)">edit</md-button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">