<title>Leafii - Showcase & Discover Personal Websites</title>

<div id="landing">
	<div class="intro">
		<h1 class="animated fadeIn">Showcase & Discover Personal Websites</h1>
	</div>
	<div class="recent">
		<div layout="row" layout-align="center center">
			
			<a ng-click="landing.viewLog(user)" href="{{landing.absolutify(landing.user[0].profile.url)}}" target="_blank">
				<md-card class="md-default-theme candidates recentGrid" layout="row" layout-align="start start">
					<div layout-align="center center">
						<img class="profilePic" style="width:60px;height:60px;" ng-src="{{landing.user[0].profile.image ? landing.secureProtocol(landing.user[0].profile.image) : 'images/defaultProfilePic.png'}}"/>
					</div>
					<div class="viewed" layout="column" layout-align="center center" style="margin-left: 5px;">
						<h2>Recently Viewed</h2>
						<p>{{landing.user[0].profile.occupation ? landing.user[0].profile.occupation: 'Not specified' | limitTo: 20 }}{{landing.user[0].profile.occupation.length > 20 ? '...' : ''}}</p>
					</div>
				</md-card>
			</a>
			<md-button ng-click="landing.test()" class="md-raised signup">Search Test</md-button>
			<a>
				<div>
					<md-card class="md-default-theme candidates recentGrid viewed" layout="column" layout-align="center center">
						<h2>Recently Searched</h2>
						<p>{{landing.lastSearch[0].details.search_keys ? landing.lastSearch[0].details.search_keys: 'Not specified' | limitTo: 28 }}{{landing.lastSearch[0].details.search_keys.length > 28 ? '...' : ''}}</p>
					</md-card>
				</div>
			</a>
			<a  ui-sref="posts({post_id:landing.latestPost[0]._id})">
				<div>
					<md-card class="md-default-theme recentGrid" layout="row" layout-align="start center">
						<img class="profilePic" style="width:60px;height:60px;" ng-src="{{landing.postUser[0].profile.image ? landing.secureProtocol(landing.postUser[0].profile.image) : 'images/defaultProfilePic.png'}}"/>
						<div class="postContent viewed" layout="column" layout-align="center center" style="margin-left: 5px;">
							<h2>Recently Posted</h2>
							<p>{{landing.latestPost[0].title ? landing.latestPost[0].title: 'Not specified' | limitTo: 20}}{{landing.latestPost[0].title.length > 20 ? '...' : ''}}</p>
						</div>
					</md-card>
				</div>
			</a>
		</div>
	</div>
	<div class="filterBar" layout="row" layout-align="center center" layout-xs="column">
		<span ng-class="{lightUp: landing.cardFilter == '-createdAt'}" ng-click="landing.cardFilter = '-createdAt'">Most Recent</span>
		<span ng-class="{lightUp: landing.cardFilter == '-profile.views'}" ng-click="landing.cardFilter = '-profile.views'">Most Viewed</span>
		<span ng-class="{lightUp: landing.cardFilter == '-profile.likes.length'}" ng-click="landing.cardFilter = '-profile.likes.length'">Most Liked</span>
	</div>

	<div ng-show="landing.users.length <= 1">
		<div class="loadingData" layout="row" layout-xs="column" layout-align="center center">
			<h1>Loading Users.....</h1>
			<md-progress-circular md-mode='indeterminate' md-diameter="150px"></md-progress-circular>
		</div>
	</div>


	<div ng-show="landing.users.length > 1" class="board">


		<!-- Grid View Mode -->
		<div layout="row" layout-align="center center" layout-wrap>
	        <md-card ng-show="!landing.horizontal" class="md-default-theme candidates grid" layout="column" layout-align="center center" ng-repeat="user in landing.users | orderBy: landing.cardFilter">
				<md-tooltip md-direction="top">{{landing.absolutify(user.profile.url)}}</md-tooltip>
				<a ui-sref="profile({user_id:user._id})">
					<img class="profilePic" ng-src="{{user.profile.image ? landing.secureProtocol(user.profile.image) : 'images/defaultProfilePic.png'}}"/>
				</a> 
	          <md-card-content>
           		<div class="cardInfo" layout="column">
					<a ng-click="landing.viewLog(user)" href="{{landing.absolutify(user.profile.url)}}" target="_blank">{{user.profile.occupation ? user.profile.occupation: 'Not specified' | limitTo: 17 }}{{user.profile.occupation.length > 17 ? '...' : ''}}</a>
					<div layout="row" layout-align="space-around center">
						<span><i class="zmdi zmdi-eye"></i> {{user.profile.views}}</span>
				        <md-button class="md-fab md-mini fav" ng-click="landing.liked(user)" ng-show="landing.rootScope.currentUser" aria-label="like"><i ng-class="{upvoted : user.profile.likes.includes(landing.rootScope.currentUser._id)}" class="zmdi zmdi-star"></i></md-button>
						<span><i class="zmdi zmdi-star"></i> {{user.profile.likes.length}}</span>
					</div>
					<p>{{user.profile.firstName + ' ' + user.profile.lastName}}</p>
					<p><i class="zmdi zmdi-pin mapColor"></i> {{user.profile.location.formatted_address ? user.profile.location.formatted_address : user.profile.location | limitTo:25}}{{user.profile.location.formatted_address.length > 25 ? '...' : ''}}</p>
				</div>
	          </md-card-content>
	        </md-card>
		</div>
	</div>
</div>
