<div id="landing">
	<title>Personal Website Search Engine - Leafii</title>
	<div class="intro">
		<img src="/images/leafii.svg" class="animated bounceInDown" alt="Leafii"/>
		<h3 class="animated fadeIn">Showcase & Discover Personal Websites</h3>

		<div layout="column" layout-align="center center" class="animated fadeInUp">
			<div layout="row" layout-align="center center" class="search-field">
		        <input placeholder="Search" class="search-top" ng-model="landing.rootScope.search" autofocus>
		    </div>
		</div>
	</div>
	
	<div class="board" layout="column">

		<h1 class="featuredCan">Latest Portfolios</h1>
		<div ng-show="!landing.usersInFours" layout="column" layout-align="center center">
			<md-progress-circular class="loadingData" md-mode='indeterminate' md-diameter="100px"></md-progress-circular>
		</div>
		<div layout="row" layout-xs="column" ng-repeat="usersInPairs in landing.usersInFours | limitTo: 2">
			<div class="candidates" layout="row" layout-sm="column" layout-xs="column" ng-repeat="users in usersInPairs" flex>
				<div class="full-width" layout="row" layout-md="column" layout-sm="column" layout-xs="column">
					<a href="{{user.profile.url}}" target="_blank" ng-repeat="user in users">
						<md-card  class="md-default-theme clickable" layout="column">
							<p class="forHire" ng-show="{{user.profile.available}}"><i class="zmdi zmdi-circle"></i> Available</p>
							<p class="noHire" ng-show="{{!user.profile.available}}"><i class="zmdi zmdi-circle"></i> Unavailable</p>
							<img class="profilePic" ng-src="{{user.profile.image ? user.profile.image : 'images/defaultProfilePic.png'}}"/>
							<md-card-title>
								<div class="cardInfo" layout="column">
									<h3 class="md-headline">{{user.profile.occupation ? user.profile.occupation: 'Not specified' | limitTo: 17 }}{{user.profile.occupation.length > 17 ? '...' : ''}}</h3>
									<p>{{user.profile.firstName + ' ' + user.profile.lastName}}<p>
									<p><i class="zmdi zmdi-pin mapColor"></i> {{user.profile.location}}</p>
									<!-- <md-button class="md-primary md-raised favBtn">Favourite</md-button> -->
								</div>
							</md-card-title>
						</md-card>
					</a>
				</div>
			</div>
		</div>
	
		<a class="All" ui-sref="browse"><md-button class="viewAll">View All {{landing.numOfUsers}} Portfolios</md-button></a>

	</div>

</div>
