<div id="landing">
	<div class="intro">
		<img src="/images/leafii.svg" class="animated bounceInDown"/>
		<h5 class="animated fadeIn">Online Portfolio Search Engine</h5>
		<h4>Search and find the best designers & engineers</h4>
		<!-- <h4>Browse through the best engineers</h4> -->

		<div layout="column" layout-align="center center" class="animated fadeInUp">
			<a href="/signup"><md-button  class="md-raised submitPort">Submit an Online Profile</md-button></a>
			<!-- <a href="/jobs"><md-button class="md-raised postJob">Post A Job</md-button></a> -->
		</div>
	</div>
	
	<div class="board" layout="column">

		<h1 class="featuredCan">Featured Engineers</h1>

		<div class="hot-candidates" layout="row" layout-sm="column" layout-xs="column">
			<md-card class="md-default-theme" layout="row" layout-md="column" layout-sm="column" layout-xs="column">
				<a href="http://www.richardsin.com" target="_blank"><img class="profilePic md-card-image" src="/images/richardsin.png" alt="Richard Sin"></a>
				<md-card-title>
					<div class="cardInfo" layout="column">
						<a href="http://www.richardsin.com" target="_blank"><h3 class="md-headline">Web Developer</h3></a>
						<span>Richard Sin</span>
						<span><i class="zmdi zmdi-pin"></i> Waterloo</span>
						<!-- <md-button class="md-primary md-raised favBtn">Favourite</md-button> -->
					</div>
				</md-card-title>
			</md-card>
			<md-card class="md-default-theme" layout="row" layout-md="column" layout-sm="column" layout-xs="column">
				<a href="http://www.artistkaylee.wix.com/kloc" target="_blank"><img class="profilePic md-card-image" src="/images/kaylee.png" alt="Kaylee Lock-O'Connor"></a>
				<md-card-title>
					<div class="cardInfo" layout="column">
						<a href="http://www.artistkaylee.wix.com/kloc" target="_blank"><h3 class="md-headline">Marketing & Design</h3></a>
						<span>Kaylee Lock-O'Connor</span>
						<span><i class="zmdi zmdi-pin"></i> Waterloo</span>
						<!-- <md-button class="md-primary md-raised favBtn">Favourite</md-button> -->
					</div>
				</md-card-title>
			</md-card>
		</div>

		<div class="hot-candidates" layout="row" layout-sm="column" layout-xs="column">
			<md-card class="md-default-theme" layout="row" layout-md="column" layout-sm="column" layout-xs="column">
				<a href="http://www.danielque.me" target="_blank"><img class="profilePic md-card-image" src="/images/danielque.png" alt="Daniel Que"></a>
				<md-card-title>
					<div class="cardInfo" layout="column">
						<a href="http://www.danielque.me" target="_blank"><h3 class="md-headline">Software Engineer</h3></a>
						<span>Daniel Que</span>
						<span><i class="zmdi zmdi-pin"></i> Waterloo</span>
						<!-- <md-button class="md-primary md-raised favBtn">Favourite</md-button> -->
					</div>
				</md-card-title>
			</md-card>
			<md-card class="md-default-theme" layout="row" layout-md="column" layout-sm="column" layout-xs="column">
				<a href="http://www.tcfraser.com" target="_blank"><img class="profilePic md-card-image" src="/images/tcfraser.png" alt="TC Fraser"></a>
				<md-card-title>
					<div class="cardInfo" layout="column">
						<a href="http://www.tcfraser.com" target="_blank"><h3 class="md-headline">Mathematical Physicist</h3></a>
						<span>TC Fraser</span>
						<span><i class="zmdi zmdi-pin"></i> Waterloo</span>
						<!-- <md-button class="md-primary md-raised favBtn">Favourite</md-button> -->
					</div>
				</md-card-title>
			</md-card>
		</div>

		<div class="hot-candidates" layout="row" layout-sm="column" layout-xs="column">
			<md-card class="md-default-theme" layout="row" layout-md="column" layout-sm="column" layout-xs="column">
				<a href="http://www.talentzeng.com" target="_blank"><img class="profilePic md-card-image" src="/images/talentzeng.png" alt="Talent Zeng"></a>
				<md-card-title>
					<div class="cardInfo" layout="column">
						<a href="http://www.talentzeng.com" target="_blank"><h3 class="md-headline">Web Developer</h3></a>
						<span>Talent Zeng</span>
						<span><i class="zmdi zmdi-pin"></i> Waterloo</span>
						<!-- <md-button class="md-primary md-raised favBtn">Favourite</md-button> -->
					</div>
				</md-card-title>
			</md-card>
			<md-card class="md-default-theme" layout="row" layout-md="column" layout-sm="column" layout-xs="column">
				<a href="http://www.tonyqu.com" target="_blank"><img class="profilePic md-card-image" src="/images/tonyqu.png" alt="Tony Qu"></a>
				<md-card-title>
					<div class="cardInfo" layout="column">
						<a href="http://www.tonyqu.com" target="_blank"><h3 class="md-headline">Mechatronics Engineer</h3></a>
						<span>Tony Qu</span>
						<span><i class="zmdi zmdi-pin"></i> Waterloo</span>
						<!-- <md-button class="md-primary md-raised favBtn">Favourite</md-button> -->
					</div>
				</md-card-title>
			</md-card>
		</div>

		<div class="hot-candidates" layout="row" layout-sm="column" layout-xs="column">
			<md-card class="md-default-theme" layout="row" layout-md="column" layout-sm="column" layout-xs="column">
				<a href="http://www.abhijith.info" target="_blank"><img class="profilePic md-card-image" src="/images/abhijith.png" alt="Abhijith Ramalingam"></a>
				<md-card-title>
					<div class="cardInfo" layout="column">
						<a href="http://www.abhijith.info" target="_blank"><h3 class="md-headline">Systems Engineer</h3></a>
						<span>Abhijith Ramalingam</span>
						<span><i class="zmdi zmdi-pin"></i> Waterloo</span>
						<!-- <md-button class="md-primary md-raised favBtn">Favourite</md-button> -->
					</div>
				</md-card-title>
			</md-card>
			<md-card class="md-default-theme" layout="row" layout-md="column" layout-sm="column" layout-xs="column">
				<a href="http://www.myabsley.com" target="_blank"><img class="profilePic md-card-image" src="/images/meghan.png" alt="Meghan Yabsley"></a>
				<md-card-title>
					<div class="cardInfo" layout="column">
						<a href="http://www.myabsley.com" target="_blank"><h3 class="md-headline">Designer & Engineer</h3></a>
						<span>Meghan Yabsley</span>
						<span><i class="zmdi zmdi-pin"></i> Toronto/Waterloo</span>
						<!-- <md-button class="md-primary md-raised favBtn">Favourite</md-button> -->
					</div>
				</md-card-title>
			</md-card>
		</div>

		<div class="hot-candidates" layout="row" layout-sm="column" layout-xs="column">
			<md-card class="md-default-theme" layout="row" layout-md="column" layout-sm="column" layout-xs="column">
				<a href="http://www.craigloewen.com" target="_blank"><img class="profilePic md-card-image" src="/images/craigloewen.png" alt="Craig Loewen"></a>
				<md-card-title>
					<div class="cardInfo" layout="column">
						<a href="http://www.craigloewen.com" target="_blank"><h3 class="md-headline">Designer & Engineer</h3></a>
						<span>Craig Loewen</span>
						<span><i class="zmdi zmdi-pin"></i> Waterloo</span>
						<!-- <md-button class="md-primary md-raised favBtn">Favourite</md-button> -->
					</div>
				</md-card-title>
			</md-card>
			<md-card class="md-default-theme" layout="row" layout-md="column" layout-sm="column" layout-xs="column">
				<a href="http://Bevzabawskyj.wix.com/portfolio" target="_blank"><img class="profilePic md-card-image" src="/images/beverly.png" alt="Beverly Zabawskyj"></a>
				<md-card-title>
					<div class="cardInfo" layout="column">
						<a href="http://Bevzabawskyj.wix.com/portfolio" target="_blank"><h3 class="md-headline">Management Engineer</h3></a>
						<span>Beverly Zabawskyj</span>
						<span><i class="zmdi zmdi-pin"></i> Waterloo</span>
						<!-- <md-button class="md-primary md-raised favBtn">Favourite</md-button> -->
					</div>
				</md-card-title>
			</md-card>
		</div>

		<a href="/profiles"><md-button class="viewAll">View All 44 Engineers</md-button></a>

	</div>

</div>

