//CSS

#profiles {

	padding-bottom: 50px;
	padding: 5%;
	background: #dcdcdc;

	img {
		max-width: 100%;
	}
}

.favBtn {
	width: 50%;
}

.candidates {
	align-items: center;

	md-card {

		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

		&:hover {
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		}
	}

}

//For mobile view
@media (max-width: 1280px){
	
	.candidates{
		md-card {
			align-items: center;
		}

		.favBtn {
			width: 100%;
		}
	}
	

}

@media (max-width: 960px){
	
	.candidates{
		md-card {
			width: 90%;
		}

		.favBtn {
			width: 100%;
		}
	}
	
}


@media (min-width: 960px){
	
	.candidates{
		md-card {
			width: 50%;
			align-items: center;
		}
	}
	

}

.full-width {
	width: 100%;
	align-items: center;
}

.cardInfo {
	width: 100%;
	text-align: center;
	align-items: center;

	a {
		text-decoration: none;
		font-size: 15px;
		cursor: pointer;
		font-weight: bold;
		color: black;

		&:hover {
			color: #069e7e;
			text-decoration: underline;
		}

	}

}

.featuredCan {
	padding: 20px 20px 20px 20px;
	font-weight: bold;
	text-align: center;

}

.board {
	padding: 0px 10%;
}

md-card-title {
	padding: 0;
	
	p {
		margin: 0;
	}
}

.profilePic {
	width: 200px;
	height: 200px;
	border-radius: 50% !important;
	padding: 10px;
}








