<div class="content" layout="column">
	<md-toolbar>
		<div class="topNavBar md-toolbar-tools">
			<a class="logo" href="/"><img class="logo" src="/images/leafii.svg"/></a>
			
<!-- 			<div class="pages">
				<a href="/jobs">Jobs</a>
				<a href="/designer">Designers</a>
				<a href="/engineer">Engineers</a>	
			</div> -->

			<!-- fill up the space between left and right area -->
			<span flex></span>
			<div class="pages">
				<a ng-show="!navigation.loggedIn" href="/signin">Login</a>
				<a ng-show="navigation.loggedIn" ng-click="navigation.logout()">Logout</a>
				<a ng-show="!navigation.loggedIn" href="/signup">Register</a>
			</div>
			
		</div>
	</md-toolbar>
</div>